<%- include("../partials/header") %>
<h1>What is something you would want insight on?</h1>

<form action="/tarot" method="POST" autocomplete="off">
    <textarea id="reading3" name="question" required=true rows="6" cols="40"> Write question here. . .</textarea>
    <p>Select your three cards below</p>
    <label for="cardChoice">First Card</label>
    <select name="cardChoice">
        <% for(let i = 1; i <= 78; i++){ %>
        <option value="<%- i %>"> Card <%- i %></option>
        <% } %>

    </select>
    <label for="cardChoice">Second Card</label>
    <select name="cardChoice">
        <% for(let i = 1; i <= 78; i++){ %>
        <option value="<%- i %>"> Card <%- i %></option>
        <% } %>

    </select>
    <label for="cardChoice">Third Card</label>
    <select name="cardChoice">
        <% for(let i = 1; i <= 78; i++){ %>
        <option value="<%- i %>"> Card <%- i %></option>
        <% } %>

    </select>

    <button type="submit" name="card" value="3">Save/Get Tarot Reading</button>
</form>


<%- include("../partials/footer") %>