<%- include('../partials/header') %>
<h1>Question</h1>
<h2><%=reading.question %></h2>

<% reading.cardChoice.forEach(function(card) { %>
<h4><%= card %></h4>

<% }); %>

<h2>Diary Entry</h2>
<form id="add-review-form" method="POST" action="/tarot/<%= reading._id %>/entries">
    <label>Diary:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Diary Entry">
</form>

<% if (reading.diaryEntry.length) { %>
<table>
    <thead>
        <tr>
            <th>diary date</th>
            <th>diary entry</th>
        </tr>
    </thead>
    <tbody>
        <% reading.diaryEntry.forEach(function(reading) { %>
        <tr>
            <td><%= reading.createdAt.toLocaleDateString() %></td>
            <td><%= reading.content %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h5>No Entries Yet</h5>
<% } %>
<form id="diary-delete-form" method="DELETE" action="/tarot/<%= reading._id %>/">
    <input type="submit" value="Delete Diary Entry">
</form>
<%- include('../partials/footer') %>