<%- include("./partials/header") %>

<h1>Tarot Diary Calendar</h1>

<h2><%= month %></h2>
<% for(let i = 1; i <= days; i++){ %>
<a href="/calendar/<%= idx %>"><%- i %></a>
<% }; %>


<%- include("./partials/footer") %>