<%- include("./partials/header") %>
<h1>Tarot Diary Entries</h1>
<table id="list">
  <thead>
    <tr>
      <th>Date Entry</th>
      <th>Details Page</th>
      <th>Delete Tarot</th>
    </tr>
  </thead>
  <tbody>
    <% readings.forEach(function(reading) { %>
    <tr>
      <td><%= reading.createdAt.toLocaleString() %></td>
      <td><a href="/diary/<%=reading._id%>">DETAILS</a></td>
      <td>
        <form action="/diary/<%= reading._id %>?_method=DELETE" class="delete-form" method="POST">
          <button name="_method" value="DELETE" type="submit">🗑</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include("./partials/footer") %>